<form action="api/pages" class="rest" method="POST" accept-charset="utf-8">
	<div class="box">

		<input type="hidden" name="data[Method]" value="<?php echo $method ?>"/>

		<!--[form:project]-->
		<p>
			<input type="hidden" name="data[page][id]" value="<?php echo $pageId; ?>" id="PageId"/>
			<input type="hidden" name="data[page][value_id]" value="<?php echo $valueId; ?>" id="ValueId"/>
		</p>
<!--
		<p>
			<fieldset class="box">
				<legend>
					LIST
				</legend>
				<p>
					<?php
					echo '<table border="1">';
					$cnt = count($items);
					for ($i=0; $i<$cnt; $i++) {
						if($i == 0){
							echo '<tr>';
							foreach ($items[$i] as $key => $value) {
								echo '<th>';
								echo $key;
								echo '</th>';
							}
							echo '</tr>';
						}
						echo '<tr>';
						foreach ($items[$i] as $key => $value) {
							echo '<td>';
							echo $value;
							echo '</td>';
						}
						echo '</tr>';
					}
					echo '</table>';
					?>
				</p>
			</fieldset>
		</p>
-->
		<P>
			<fieldset class="box">
				<legend>
					<?php echo $pageId; ?>\<?php echo $valueId; ?>
				</legend>

				<p>
					<?php
					// var_dump();
					$cnt = count($items);
					for ($i=0; $i<$cnt; $i++) {
					echo '<label class="floating">';
					echo $items[$i]["name"];
					echo '<input type="hidden" name="data[page][items]['.$i.'][custom_field_id]" value="' . $items[$i]["id"] . '"/>';
					echo '<input type="text" name="data[page][items]['.$i.'][value]" value="' . $items[$i]["value"] . '" />';
					echo '</label>';
					echo '<br/>';
					}
					?>
				</p>
			</fieldset>
		</p>
		<div class="submit">
			<input type="submit" value="保存">
		</div>
	</div>
</form>
