<form action="api/pages" class="rest" method="POST" accept-charset="utf-8">
	<div class="box">

		<p>
			<input type="hidden" name="data[page][id]" value="<?php echo $pageId; ?>" id="PageId"/>
			<input type="hidden" name="data[page][value_id]" value="<?php echo $valueId; ?>" id="ValueId"/>
		</p>

		<p>
			<fieldset class="box">
				<legend>
					page一覧
				</legend>
				<p>
					<!-- @formatter:off -->
					<?php
					
					echo '<table border="1">';
					$cnt = count($items);
					for ($i=0; $i<$cnt; $i++) {
						if($i == 0){
							echo '<tr>';
							foreach ($items[$i] as $key => $value) {
								echo '<th>';
								echo $key;
								echo '</th>';
							}
							echo '</tr>';
						}
						echo '<tr>';
						foreach ($items[$i] as $key => $value) {
							echo '<td>';
							if($key == 'id')
							{
								echo '<a href="'. 'pages?id=' . $value . '&action=edit' . '">';
									echo $value;
								echo '</a>';
							}
							else
							{
								echo $value;
							}
							echo '</td>';
						}
						echo '</tr>';
					}
					echo '</table>';
					
					?>
					<!-- @formatter:off -->
				</p>
			</fieldset>
		</p>

		<div class="submit">
			<input type="submit" value="保存">
		</div>
	</div>
</form>

<script type="text/x-template" id="page-list-template">
<div class="q-pa-md">
    <q-table
      title="ページ一覧"
      :data="data"
      :columns="columns"
      row-key="id"    >
    </q-table>
  </div>
</script>

<script>
	Vue.component('page-list', {
		template : '#page-list-template',
		data : function() {
			return {
				loading : false,
				filter : '',
				rowCount : 10,
				columns : [{
					name : 'id',
					required : true,
					label : 'id',
					align : 'left',
					sortable : true
				}, {
					name : 'type',
					align : 'center',
					label : 'タイプ',
					field : 'type',
					sortable : true
				}, {
					name : 'name',
					label : '名称',
					field : 'name',
					sortable : true
				}, {
					name : 'description',
					label : '説明',
					field : 'description'
				}, {
					name : 'created_on',
					label : '作成日',
					field : 'created_on'
				}, {
					name : 'updated_on',
					label : '更新日',
					field : 'updated_on'
				}],
				data : [{
					id : 1,
					name : 'Frozen Yogurt',
					calories : 159,
					fat : 6.0,
					carbs : 24,
					protein : 4.0,
					sodium : 87,
					calcium : '14%',
					iron : '1%'
				}, {
					id : 2,
					name : 'Ice cream sandwich',
					calories : 237,
					fat : 9.0,
					carbs : 37,
					protein : 4.3,
					sodium : 129,
					calcium : '8%',
					iron : '1%'
				}, {
					id : 3,
					name : 'Eclair',
					calories : 262,
					fat : 16.0,
					carbs : 23,
					protein : 6.0,
					sodium : 337,
					calcium : '6%',
					iron : '7%'
				}, {
					id : 4,
					name : 'Cupcake',
					calories : 305,
					fat : 3.7,
					carbs : 67,
					protein : 4.3,
					sodium : 413,
					calcium : '3%',
					iron : '8%'
				}, {
					id : 5,
					name : 'Gingerbread',
					calories : 356,
					fat : 16.0,
					carbs : 49,
					protein : 3.9,
					sodium : 327,
					calcium : '7%',
					iron : '16%'
				}, {
					id : 6,
					name : 'Jelly bean',
					calories : 375,
					fat : 0.0,
					carbs : 94,
					protein : 0.0,
					sodium : 50,
					calcium : '0%',
					iron : '0%'
				}, {
					id : 7,
					name : 'Lollipop',
					calories : 392,
					fat : 0.2,
					carbs : 98,
					protein : 0,
					sodium : 38,
					calcium : '0%',
					iron : '2%'
				}, {
					id : 8,
					name : 'Honeycomb',
					calories : 408,
					fat : 3.2,
					carbs : 87,
					protein : 6.5,
					sodium : 562,
					calcium : '0%',
					iron : '45%'
				}, {
					id : 9,
					name : 'Donut',
					calories : 452,
					fat : 25.0,
					carbs : 51,
					protein : 4.9,
					sodium : 326,
					calcium : '2%',
					iron : '22%'
				}, {
					id : 10,
					name : 'KitKat',
					calories : 518,
					fat : 26.0,
					carbs : 65,
					protein : 7,
					sodium : 54,
					calcium : '12%',
					iron : '6%'
				}],
				original : [{
					name : 'Frozen Yogurt',
					calories : 159,
					fat : 6.0,
					carbs : 24,
					protein : 4.0,
					sodium : 87,
					calcium : '14%',
					iron : '1%'
				}, {
					name : 'Ice cream sandwich',
					calories : 237,
					fat : 9.0,
					carbs : 37,
					protein : 4.3,
					sodium : 129,
					calcium : '8%',
					iron : '1%'
				}, {
					name : 'Eclair',
					calories : 262,
					fat : 16.0,
					carbs : 23,
					protein : 6.0,
					sodium : 337,
					calcium : '6%',
					iron : '7%'
				}, {
					name : 'Cupcake',
					calories : 305,
					fat : 3.7,
					carbs : 67,
					protein : 4.3,
					sodium : 413,
					calcium : '3%',
					iron : '8%'
				}, {
					name : 'Gingerbread',
					calories : 356,
					fat : 16.0,
					carbs : 49,
					protein : 3.9,
					sodium : 327,
					calcium : '7%',
					iron : '16%'
				}, {
					name : 'Jelly bean',
					calories : 375,
					fat : 0.0,
					carbs : 94,
					protein : 0.0,
					sodium : 50,
					calcium : '0%',
					iron : '0%'
				}, {
					name : 'Lollipop',
					calories : 392,
					fat : 0.2,
					carbs : 98,
					protein : 0,
					sodium : 38,
					calcium : '0%',
					iron : '2%'
				}, {
					name : 'Honeycomb',
					calories : 408,
					fat : 3.2,
					carbs : 87,
					protein : 6.5,
					sodium : 562,
					calcium : '0%',
					iron : '45%'
				}, {
					name : 'Donut',
					calories : 452,
					fat : 25.0,
					carbs : 51,
					protein : 4.9,
					sodium : 326,
					calcium : '2%',
					iron : '22%'
				}, {
					name : 'KitKat',
					calories : 518,
					fat : 26.0,
					carbs : 65,
					protein : 7,
					sodium : 54,
					calcium : '12%',
					iron : '6%'
				}]
			};
		}
	});
 </script>