<h2>新しいカスタムフィールドを作成 (チケット)</h2>

<form action="api/custom_fields" class="tabular" id="CustomFieldAddForm" method="post" accept-charset="utf-8">
	<div style="display:none;">
		<input type="hidden" name="data[Method]" value="<?php echo $method ?>"/>
	</div>

	<div class="box">
		<P>
			<fieldset class="box">
				<legend>
					カスタムフィールド
				</legend>

				<p>
					<!-- @formatter:off -->
					<?php
					//var_dump($columns);
					$count = count($columns);
					for ($i=0; $i < $count; $i++) {
						echo '<label class="floating">';
						echo $columns[$i]["name"];
						echo '</label>';
						echo '<input type="text" name="data[custom_fields][' . $columns[$i]["name"] . ']" value="';
						if (isset($custom_field))
						{
							$name = $columns[$i]["name"];
							if($custom_field[$name])
							{
								echo $custom_field[$name];
							}
						}
						echo '" />';
						echo '<br/>';
					}
					?>
					<!-- @formatter:on -->
				</p>
			</fieldset>
		</p>
	</div>

	<div class="submit">
		<input type="submit" value="保存"/>
	</div>
</form>
