<form action="api/items" class="rest" method="POST" accept-charset="utf-8">
	<div class="box">

		<input type="hidden" name="data[Method]" value="<?php echo $method ?>"/>

		<p>
			<input type="hidden" name="data[item][id]" maxlength="30" type="text" id="name" value="<?php echo $data['item']['id']; ?>">
		</p>
		<p>
			<label for="name">タイプ</label>
			<input name="data[item][type]" maxlength="30" type="text" id="type" value="<?php echo $data['item']['type']; ?>">
		</p>
		<p>
			<label for="name">名前</label>
			<input name="data[item][name]" maxlength="30" type="text" id="name" value="<?php echo $data['item']['name']; ?>">
		</p>
		<p>
			<label for="description">説明</label>
			<textarea name="data[item][description]" class="wiki-edit" rows="5" cols="30" id="description"><?php echo $data['item']['description']; ?></textarea>
		</p>
		<P>
			<fieldset class="box">
				<legend>
					カスタムフィールド
				</legend>

				<p>
					<?php
					//var_dump($customFields);
					$customFields = $data['custom_fields'];
					$count = count($customFields);
					for ($i=0; $i<$count; $i++) {
					echo '<label class="floating">';
					echo '<input type="checkbox" name="data[item][custom_field_ids][]" value="' . $customFields[$i]["id"] . '"';
					if(isset($customFields[$i]["item_id"]) && is_null($customFields[$i]["item_id"]) == false )
					{
					echo ' checked="checked" ';
					}
					echo '/>';
					echo $customFields[$i]["name"];
					echo '</label>';
					echo '<span>';
					echo '　'.'(' . $customFields[$i]["description"] . ')';
					echo '</span>';
					echo '<br/>';
					}
					?>
				</p>
			</fieldset>
		</p>
		<div class="submit">
			<input type="submit" value="保存">
		</div>
	</div>
</form>