<form action="api/items" class="rest" method="POST" accept-charset="utf-8">
	<div class="box">
		<p>
			<fieldset class="box">
				<legend>
					一覧
				</legend>
				<p>
					<?php
					echo '<table border="1">';
					$cnt = count($items);
					for ($i=0; $i<$cnt; $i++) {
						if($i == 0){
							echo '<tr>';
							foreach ($items[$i] as $key => $value) {
								echo '<th>';
								echo $key;
								echo '</th>';
							}
							echo '</tr>';
						}
						echo '<tr>';
						foreach ($items[$i] as $key => $value) {
							echo '<td>';
							if($key == 'id')
							{
								echo '<a href="'. 'items?id=' . $value . '&action=edit' . '">';
									echo $value;
								echo '</a>';
							}
							else
							{
								echo $value;
							}
							echo '</td>';
						}
						echo '</tr>';
					}
					echo '</table>';
					?>
				</p>
			</fieldset>
		</p>
		<div class="submit">
			<input type="submit" value="保存">
		</div>
	</div>
</form>
