<script type="text/x-template" id="index-template">
	<div class="q-pa-md">

	<q-btn class="q-mt-md" type="a" href="./custom_fields" label="Custom Fields" push outline color="primary" ></q-btn>
	<q-btn class="q-mt-md" type="a" href="./items" label="Items" push outline color="primary" ></q-btn>
	<q-btn class="q-mt-md" type="a" href="./pages" label="Pages" push outline color="primary" ></q-btn>

	<q-btn color="primary" class="block q-mt-md" icon="" label="Custom Fields" @click="openURL('custom_fields')"></q-btn>
	<q-btn color="primary" class="block q-mt-md" icon="" label="Items" @click="openURL('items')"></q-btn>
	<q-btn color="primary" class="block q-mt-md" icon="" label="Pages" @click="openURL('pages')"></q-btn>

	</div>
</script>
<script>
	Vue.component('index', {
		template : '#index-template',
	}); 
</script>