<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta http-equiv="Content-Style-Type" content="text/css">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#0084ff">
		
		<?php foreach ($metas as $attr => $meta) { ?>
		<?php   foreach ($meta as $key => $content) { ?>
		<meta <?php echo $attr; ?>="<?php echo $key; ?>" content="<?php echo $content; ?>" />
		<?php   } ?>
		<?php } ?>
		<?php foreach ($javascripts as $js) { ?>
		<script type="text/javascript" src="<?php echo $request['base_path']; ?>/js/<?php echo $js; ?>"></script>
		<?php } ?>
		<?php foreach ($stylesheets as $css) { ?>
		<link rel="stylesheet" type="text/css" href="<?php echo $request['base_path']; ?>/css/<?php echo $css; ?>" />
		<?php } ?>
		<title><?php
			if ($page_title != '')
			{
			echo $page_title;
			}
			?></title>

		<!-- Do you need Material Icons? -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">

		<!-- Do you need Fontawesome? -->
		<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

		<!-- Do you need Ionicons? -->
		<link href="https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css" rel="stylesheet">

		<!-- Do you need MDI? -->
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@^3.0.0/css/materialdesignicons.min.css" rel="stylesheet">

		<!-- Do you need all animations? -->
		<link href="https://cdn.jsdelivr.net/npm/animate.css@^3.5.2/animate.min.css" rel="stylesheet">

		<!--
		Finally, add Quasar's CSS:
		Replace version below (1.0.0-beta.0) with your desired version of Quasar.
		Add ".rtl" for the RTL support (example: quasar.rtl.min.css).
		-->
		<link href="https://cdn.jsdelivr.net/npm/quasar@^1.0.0-beta.0/dist/quasar.min.css" rel="stylesheet" type="text/css">

	</head>
	<body>

		<?php echo $inner_contents; ?>

	</body>
</html>
